* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}


.navbar {
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000; 
}

.navbar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.navbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 30px;
    font-family: Noto Serif JP;
}

.navbar a:hover {
    color: #555;
}

.navbar-bottom a { 
    color: white;
    margin: 10px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: 50px;
    font-family: Noto Serif JP;
}